 


<head>
      <!-- Navbar start -->
      <div class="container-fluid fixed-top">
       
        <div class="container px-0">
            <nav style="background-color: azure;" class="navbar navbar-light bg-white navbar-expand-xl">
                <a href="index.html" class="navbar-brand"><h1 class="text-primary display-5">Tiệm Gấu Bông</h1></a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                    <div class="navbar-nav mx-auto">
                        <a href="gio-hang" class="nav-item nav-link active">Home</a>
                        <a routerLink="disney" class="nav-item nav-link">Disney</a>
                        <a href="shop.html" class="nav-item nav-link">Sanrio</a>
                        <a routerLink="pkemon.html" class="nav-item nav-link">Pokkémon</a>  
                         
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                <a href="cart.html" class="dropdown-item">Cart</a>
                                <a href="chackout.html" class="dropdown-item">Chackout</a>
                                <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                                <a href="404.html" class="dropdown-item">404 Page</a>
                            </div>
                        </div>
                        <a href="contact.html" class="nav-item nav-link">Thông Tin Nhà Gấu</a>
                    </div>
                    <div class="d-flex m-3 me-0">
                        
                        <a href="gio-hang/" class="position-relative me-4 my-auto">
                            <i class="fa fa-shopping-bag fa-2x"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                              </svg></i>
                            <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;">3</span>
                        </a>
                         <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-primary"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                          </svg></button>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

 







</head>

<router-outlet></router-outlet>


        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
          <div class="container py-5">
              <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
                  <div class="row g-4">
                      <div class="col-lg-3">
                          <a href="#">
                              <h1 class="text-primary mb-0">Fruitables</h1>
                              <p class="text-secondary mb-0">Fresh products</p>
                          </a>
                      </div>
                      <div class="col-lg-6">
                          <div class="position-relative mx-auto">
                              <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="number" placeholder="Your Email">
                              <button type="submit" class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">Subscribe Now</button>
                          </div>
                      </div>
                      <div class="col-lg-3">
                          <div class="d-flex justify-content-end pt-3">
                              <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                              <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                              <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                              <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row g-5">
                  <div class="col-lg-3 col-md-6">
                      <div class="footer-item">
                          <h4 class="text-light mb-3">Why People Like us!</h4>
                          <p class="mb-4">typesetting, remaining essentially unchanged. It was 
                              popularised in the 1960s with the like Aldus PageMaker including of Lorem Ipsum.</p>
                          <a href="" class="btn border-secondary py-2 px-4 rounded-pill text-primary">Read More</a>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                      <div class="d-flex flex-column text-start footer-item">
                          <h4 class="text-light mb-3">Shop Info</h4>
                          <a class="btn-link" href="">About Us</a>
                          <a class="btn-link" href="">Contact Us</a>
                          <a class="btn-link" href="">Privacy Policy</a>
                          <a class="btn-link" href="">Terms & Condition</a>
                          <a class="btn-link" href="">Return Policy</a>
                          <a class="btn-link" href="">FAQs & Help</a>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                      <div class="d-flex flex-column text-start footer-item">
                          <h4 class="text-light mb-3">Account</h4>
                          <a class="btn-link" href="">My Account</a>
                          <a class="btn-link" href="">Shop details</a>
                          <a class="btn-link" href="">Shopping Cart</a>
                          <a class="btn-link" href="">Wishlist</a>
                          <a class="btn-link" href="">Order History</a>
                          <a class="btn-link" href="">International Orders</a>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                      <div class="footer-item">
                          <h4 class="text-light mb-3">Contact</h4>
                          <p>Địa Chỉ: An Cuu, Hue</p>
                          <p>Email: quanghuy01012k1.com</p>
                          <p>Phone: +0338692835</p>
                          <p>Payment Accepted</p>
                          <img src="../assets/img/payment.png" class="img-fluid" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Footer End -->

  

